<h1>disini buat halaman tukang yang sesuai dengan kategori</h1>
<table>
<% tukangs.forEach(function(tukang){ %>
  <tr>
    <td><%=tukang.id%></td>
    <td><%=tukang.fullname%></td>
    <td><%=tukang.address%></td>
    <td><%=tukang.id%></td>
    <td><%=tukang.id%></td>
    <td><%=tukang.id%></td>
  </tr>
<% }) %>
</table>
